root@yong:~# export KERDTSPATH=ti-processor-sdk-linux-am335x-evm-06.03.00.106/board-support/linux-4.19.94+gitAUTOINC+be5389fd85-gbe5389fd85/arch/arm/boot/dts
root@yong:~# diff /opt/${KERDTSPATH}/am33xx.dtsi /tmp/${KERDTSPATH}/am33xx.dtsi
1084c1084
< 			status = "okay";
---
> 			status = "disabled";
root@yong:~# 


Remark:将GPMC节点由disabled改为okay.
		gpmc: gpmc@50000000 {
			compatible = "ti,am3352-gpmc";
			ti,hwmods = "gpmc";
			ti,no-idle-on-init;
			reg = <0x50000000 0x2000>;
			interrupts = <100>;
			dmas = <&edma 52 0>;
			dma-names = "rxtx";
			gpmc,num-cs = <7>;
			gpmc,num-waitpins = <2>;
			#address-cells = <2>;
			#size-cells = <1>;
			interrupt-controller;
			#interrupt-cells = <2>;
			gpio-controller;
			#gpio-cells = <2>;
			status = "okay";
		};
